on: [push]

jobs:
  docker-build:
    strategy:
      matrix:
        version: ['5.15.6', '5.15.9', '5.15.9-alpine']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out code

      - uses: docker/build-push-action@v1.1.0
      - name: Build and push Docker images
        with:
          directory: ${{ matrix.version }}
          image: activemq/activemq
          tag: ${{ matrix.version }}
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: ${{ matrix.version }}/Dockerfile
